/.vscode
/ATT_35_35_MODEL_v1.keras
/ATT_35_35_MODEL_v1.npy
/ATT_35_35_MODEL_v1_es.npy
/ATT_3D_ITINERIS_TRAINING.py
/best-weights_v1_training.weights.h5
/FFNN_1000_1000_MODEL_v1.h5
/FFNN_1000_1000_MODEL_v1.h5.npy
/FFNN_1000_1000_MODEL_v1.h5_es.npy
/FFNN_1000_1000_MODEL_v1.keras
/FFNN_1000_1000_MODEL_v1.keras_es.npy
/FFNN_1000_1000_MODEL_v1.npy
/FFNN_1000_1000_MODEL_v1_es.npy
/LSTM_35_35_MODEL_v1.keras
/LSTM_35_35_MODEL_v1.keras_es.npy
/LSTM_35_35_MODEL_v1.npy
/req.txt
/RMSE_CHL.png
/RMSE_CHL_ATT.png
/RMSE_CHL_LSTM.png
/RMSE_T.png
/RMSE_T_ATT.png
/RMSE_T_LSTM.png
/__pycache__